*{
    padding: 0px;
    margin: 0px;
}
body {
    background: #669999;
    background: linear-gradient(to bottom right, #006666 -19%, #669999 40%);
    min-height: 100vh;
  }
  #mainBox{
    background: #e9e8e6;
  }


/* 
#container{
    color:black;
    height: auto;
    background-image: url("../Source/project.jpeg");
    background-repeat: round;
    
} */
/* #mainBox{
   border: 2px solid gray;
   padding-left: 1%;
   margin: auto auto;
   background-color: white;
} */
a{
    text-decoration: none;
}

#navBar{
    background-color: orange;
    /* margin-top: 5%; */
    border-radius: 5%;
}
#navBar a{
    color: black;
    font-weight: bold;
   
}
#firstline,#secondline{
  word-spacing: 2px;
  letter-spacing: 2px;
    margin: 3%;
    font-weight: 2px;
}
/* #firstline{
    color: rgb(145, 141, 141);
    
} */
i{
    margin-right: 5%;
}
#allElement{
    background-color: white;
    height: 700px;
}
#allElement a{
   color:orange;
  
}
#backBtn a{
   
    color:  #669999;
}
.imgeDiv{
     height: 110px;
  
    margin-bottom: 25%;

}

.h5{
    font-weight: bolder;
}
.links{
    color: black;
    margin-bottom: 5%;
}
a:hover{
    text-decoration: none;
    opacity: .4;
}
#message{
    background-color:white;
    height: 400px;
}

#comment,#para,#sent{
    margin: 3%;
}
#para{
    color:orange;
}
#sent{
color:white;
}